<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 76px); width: 100vw;">
  <div class="top-image position-relative">
    <div class="top-image_text-box p-3 rounded text-black-50 d-flex align-items-center justify-content-center">
      <div>
        <h5>地域猫活動をご存知ですか？</h5>
        <div>地域猫活動とはお住まいの地域住民の皆様が主体となり、野良猫に不妊手術などの適切な処置を行い、野良猫問題を解決し住み良い地域をつくるための活動です。
        このサイトは、その活動に少しでも貢献したいと考え、作成いたしました。</div>
      </div>
    </div>
  </div>
</div>