<div class="header">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">猫マップ</a>
    </li>
    <li class="nav-item">
      <%= link_to "保護団体一覧", groups_path %>
    </li>
    <li class="nav-item">
      <%= link_to '野良猫マップ', cats_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'ログイン', new_resident_session_path %>
    </li>
    <li class="nav-item">
      <%= link_to '会員登録', new_resident_registration_path %>
    </li>
  </ul>
</div>
