/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// bootstrapとjabascriptの読み込み
@import"bootstrap";
@import'font-awesome-sprockets';
@import'font-awesome';

// ヘッダーの文字サイズ
.nav-item{
  font-size:20px;
}

// 大画面での地図の高さの調整（76pxはヘッダーの高さ）
#index-map{
  height: calc(100vh - 76px);
}

// 投稿詳細画面のタブコンテンツの大きさ
#nav-map,
#nav-comment{
  height: 65vh;
}

// コメント一覧の高さ（投稿フォームを引いた値）
#comment{
  height: calc(65vh - 62px);
}

//　投稿詳細画面左側の上下の高さ
.cat-detail{
  height: 32vh;
}

// 投稿詳細画面の画像の大きさの固定
.cat-detail_image{
  width: 15vw;
  height: 32vh;
}

// ユーザー詳細画面でのサイドバーの高さの調整、固定
.sidebar{
  height: calc(100vh - 76px);
}

// indexにマウスが乗ると色が変わる
.card:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

// 保護団体一覧でマウスが乗ると色が変わる
.index-card:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

//　保護団体一覧画面のロゴの大きさの調整
.index-logo{
  font-size: 80px;
}