<div class="col-3 bg-light sidebar overflow-auto">
  <%= render '/cats/form', cat: @cat %>
</div>
<div class="col-9" id="index-map"></div>
<script>
  let map
  let geocoder

    // 現在地取得処理
    function initMap() {
      // Geolocation APIに対応している
      if (navigator.geolocation) {
        // 現在地を取得
        navigator.geolocation.getCurrentPosition(
          // 取得成功した場合
          function(position) {
            // 緯度・経度を変数に格納
            var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // マップオプションを変数に格納
            var mapOptions = {
              zoom : 14,          // 拡大倍率
              center : mapLatLng  // 緯度・経度
            };
            // geocoderを初期化
            geocoder = new google.maps.Geocoder()
            // マップオブジェクト作成
            map = new google.maps.Map(
              document.getElementById("index-map"), // マップを表示する要素
              mapOptions         // マップオプション
            );
            //　マップにマーカーを表示する
            var marker = [];
            var markerData = gon.cats
            for (var i = 0; i < markerData.length; i++) {
              markerLatLng = new google.maps.LatLng({lat: markerData[i]['latitude'], lng: markerData[i]['longitude']}); // 緯度経度のデータ作成
              marker[i] = new google.maps.Marker({ // マーカーの追加
                position: markerLatLng, // マーカーを立てる位置を指定
                map: map // マーカーを立てる地図を指定
              });
            }
            // マップクリック時に座標取得
            var clickMarker = null
            map.addListener('click', function(e){
              // clickMarkerがnullの場合、クリック時にclickmaekerに座標情報を格納し、mapに表示
              if(clickMarker == null){
                clickMarker = new google.maps.Marker({
                  position: e.latLng,
                  map: map,
                  title: e.latLng.toString(),
                  animation: google.maps.Animation.DROP
                });
                // 取得した緯度・経度をHTML側で表示できるようにする
                clickMap(e.latLng)
                // clickMarkerが空でない場合、clickMrkerを空にし再度座標取得、mapに表示
              }else{
                clickMarker.setMap(null);
                clickMarker = null;
                clickMarker = new google.maps.Marker({
                  position: e.latLng,
                  map: map,
                  title: e.latLng.toString(),
                  animation: google.maps.Animation.DROP
                });
                // 取得した緯度・経度をHTML側で表示できるようにする
                clickMap(e.latLng)
              }
            });
          },
          // 取得失敗した場合
          function(error) {
            // エラーメッセージを表示
            switch(error.code) {
              case 1: // PERMISSION_DENIED
                alert("位置情報の利用が許可されていません");
                break;
              case 2: // POSITION_UNAVAILABLE
                alert("現在位置が取得できませんでした");
                break;
              case 3: // TIMEOUT
                alert("タイムアウトになりました");
                break;
              default:
                alert("その他のエラー(エラーコード:"+error.code+")");
                break;
            }
          }
        );
      // Geolocation APIに対応していない
      } else {
        alert("この端末では位置情報が取得できません");
      }
    }

    // 地名検索後のアクションの定義
    function codeAddress(){
      // 入力を取得
      let inputAddress = document.getElementById('address').value;

      // geocodingしたあとmapを移動
      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
    　　　　　　　　　　　　// map.setCenterで地図が移動
          map.setCenter(results[0].geometry.location);
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }

    // 緯度経度を取得し表示するための記述
    function clickMap(geo) {
      lat = geo.lat();
      lng = geo.lng();
      document.getElementById('cat_latitude').value = lat;
      document.getElementById('cat_longitude').value = lng;
    }
  </script>