<h1>サイドバーインデックス</h1>
<%= form_with model: Cat, url: search_cats_path, method: :get, local:true do |f| %>
<div>
  <%= f.text_field :address, placeholder: "地名" %>
</div>
<div>
  <%= f.select :status, Handle.statuses, { prompt: '全て含める'} %>
</div>
<%= f.submit '検索' %>
<% end %>
